<!-- <!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Home pageers</title>


</head>

<body> -->

<b>Footer Content</b> : Overall Site Navigation <br>
    <!-- <p> list of footer URLS go here</p> -->
<a href="/about">About</a>~
<a href="/home">Home</a>~
<a href="/facilities">Facilities</a>
<br>
<a href="/create1">Add New Customer</a>~
<a href="/listCust">List All Customer</a>
<br>
<a href="/create1">New Booking</a>~
<a href="/create1">Cancel Booking</a>
<br>
<a href="/addNewStaff">Add new Staff</a>~
<a href="/listStaff">List All Staff</a>
<br>
<a href="/AddNewFac">Add new Facility</a>




<!-- </body>
</html> -->