<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>facilities Overview</title>


</head>

<body>

<h1>Below are the list of facilities offered by the Hotel...  </h1>
<ul>
    <li>Swimming pool</li>
        <li>
complementary Breakfasts</li>
<li>
In House Gym </li>
<li>
Free Wi-Fi in the entire hotel</li>
<li>
Air cooling in all rooms</li>
<li>
Check in from 15.00pm</li>
<li>
Check out before 12.00 noon</li>
<li>
Breakfast buffet 06.30am-10.30am</li>
<li>
Parking space</li>
<li>
Fitness center</li>
<li>
Restaurant  L’Appetito</li>
<li>
Lunch from 11.00am-15.00pm</li>
<li>
Dinner from 17.30pm-22.30pm</li>
<li>
Bar</li>
<li>
Allergy friendly rooms</li>
<li>
Coffee and tea facilities in all rooms</li>
<li>
24-hour reception</li>
<li>
Room service</li>
<li>
Bike and car rental</li>
<li>
Lounge with open fire</li>
<li>
Six conference rooms</li>
<li>
Business lounge</li>
<li>
Laundry and dry cleaning service</li>
<li>
Option to borrow a fridge for the room</li>

</ul>
    </p>

    <p>
        Reference: <a href="https://www.imperial-hotel-copenhagen.com/facilities-and-services"> https://www.imperial-hotel-copenhagen.com/facilities-and-services</a>

    </p>

<p>


    <div class="footer">
        <!-- {#% include "/home/footer.html" %}     -->
        {% include "footer.html" %}    
        </div>
    </p>
</body>
</html>