{% load static %}
<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Create Page 1</title>

<!-- <link rel="stylesheet" type="text/css" href="{% static './newcust/view.css' %}" media="all"> -->
<link rel="stylesheet" type="text/css" href="/static/newcust/view.css" media="all">
<script type="text/javascript" src="{% static 'newcust/view.js' %}"></script>

</head>

<body id="main_body" class="no_guidelines safari">

<!-- <h1>{{title}}</h1>
<p>{{desc}}</p> -->

<!-- User login is:{{request.user}}
<br>
Is user authenticated: {{request.user.is_authenticated}}
<br>
<form method='POST'> {% csrf_token%}
    {{form.as_p}}
    <input type='submit' value='Save'/>
</form> --><img id="top" src="top.png" alt="">
<div id="form_container">


<h1><a>Register new Customer</a></h1>
		<form id="form_94771" class="appnitro"  method='POST' action=""> {% csrf_token%}
					<div class="form_description">
			<h2>Register new Customer</h2>
			<!-- <p>This is your form description. Click here to edit.</p> -->
						
			<ul >
			
					<li id="li_1" >
		<label class="description" for="element_1">Customer Name </label>
		<div>
			<input id="CustomerName" name="CustomerName" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Mr/Mrs </label>
		<div>
			<input id="title" name="title" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_3" >
		<label class="description" for="element_3">Address </label>
		<div>
			<textarea id="Address" name="Address" class="element textarea medium"></textarea> 
		</div> 
		</li>		<li id="li_4" >
		<label class="description" for="element_4">Govt ID number </label>
		<div>
			<input id="IDType" name="IDType" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_5" >
		<label class="description" for="element_5">Govt Id type </label>
		<div>
			<input id="IDNumber" name="IDNumber" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="94771" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>	
	</div>	
</div>
<img id="bottom" src="bottom.png" alt="">
    

<p>
    <div class="footer">
        <!-- {#% include "/home/footer.html" %}     -->
        {% include "footer.html" %}    
        </div>
    </p>
</body>
</html>